/* You can add global styles to this file, and also import other style files */


/*For toastr in bootstrap > 4.1.3*/

.toast-success {
    background-color: #51a351 !important;
    border-color: #c7eacc !important;
}

.hover-cursor {
    cursor: pointer;
}

.taskCompleted {
    text-decoration: line-through;
}